body{
    padding: 1rem;
    text-align: center;
    background-color: rgba(204, 204, 204, 0.603);
}
#main, #results{
    padding: 8.5% 18%;
}
form{
    padding: 0 18%;
}
img{
    width: 250px;
    margin: 1rem;
}
#btnAñadir{
    width: 30rem;
}
.txterror{
    color: #ff0000cc;
    float: left;    
}
form button{
    margin-top: 1rem;
}
.gana{
    background-color: green;
    color: white;
}
.pierde{
    background-color: red;
    color: white;
}
#bienvenido, #hoy{
    color: blue;
}
.descri, footer{
    font-size: smaller;
}